ASSEMBLYAI_API_KEY=
SARVAM_API_KEY=''
GOOGLE_API_KEY=''

# email
SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
IMAP_HOST=imap.gmail.com
IMAP_PORT=993
ADMIN_MAIL=""
EMAIL_PASSWORD=""
SECRET_KEY=""
ALGORITHM=""
EXPIRE_MINUTES=30